:root {
       --color-body: #4f4f4f;
       --color-link: #389dc1;
       --color-bg-dark: #272e38;
       --color-fg-dark: #ff002f;
       --color-border-black: #000;
       --color-bg-display-dark: #602222;
       --underlay-opacity: 0.35;
       --font-digital: 'Digital-7', sans-serif;
       --clock-font-size: 96px;
   }

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    background-color: var(--color-bg-display-dark);
    height: 80%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    z-index: 1;
    height: 80%;
}

a,
a:visited {
    outline: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: none;
}

section,
footer,
header,
aside {
    display: block;
}

/*-------------------------
  The clocks
--------------------------*/
#clock {
    width: 370px;
    position: relative;
}

#clock .display {
    text-align: center;
    position: relative;
    font-size: 14px;
    margin-top: 40px;
    left: -12px;
    transform: scale(1.1);
}

/*-------------------------
  Dark color theme
--------------------------*/
#clock.dark {
    color: var(--color-fg-dark);
}

.display > section {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.display > section:nth-child(1) {
    margin-bottom: 10px;
}

.display > section:nth-child(2) {
    transform: scaleY(1.1);
    top: 10px;
}

.clockTime {
    display: flex;
    gap: 5px;
}

.display .count {
    text-align: left;
    padding-top: 5px;
}

.display .count span {
    font-size: 26px;
}

#clock.dark .digitsContainer {
    position: relative;
    top: -13px;
    font-family: var(--font-digital);
    font-size: var(--clock-font-size);
}

.countDigits {
    position: relative;
}

.countDigits span {
    font-family: var(--font-digital);
}

#clock.dark .digits {
    position: relative;
}

.inactive {
    opacity: var(--underlay-opacity);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/*-------------------------
  Clock Digits
--------------------------*/
#clock .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: var(--underlay-opacity);
}

/*-------------------------
  Weekday
--------------------------*/
#clock .weekday {
    text-transform: uppercase;
    font-size: 12px;
}

#clock .date {
    font-family: var(--font-digital);
    font-size: 14px;
}

.network {
    display: flex;
    gap: 10px;
}

.status {
    text-align: left;
    font-size: 19px;
}


#clock .ampm {
    font-size: 20px;
    margin-bottom: 18px;
}

.mode {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.mode .region {
    font-size: 16px;
    padding: 3px 5px 2px;
    color: var(--color-bg-display-dark);
    background-color: var(--color-fg-dark);
}

.audio {
    display: flex;
    gap: 10px;
}

.channel {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 3px;
}

.signal {
    display: flex;
    gap: 10px;
}

.channel .number {
    position: relative;
    font-size: 30px;
    top: 2px;
    font-family: var(--font-digital);
}

.arrows {
    position: relative;
    top: -2px;
}

.arrows span {
    opacity: var(--underlay-opacity);
}

.arrows .active {
    opacity: 1;
}

.vhs-icon {
    height: 40px;
    width: auto;
    vertical-align: middle;
}